// bower:scss
@import "materialize/sass/materialize.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


.password-strength-indicator {
  position: absolute;
  top: 10px;
  right: 0;
  width: 5px;
  padding: 0 15px;
}

.password-strength-indicator span {
  display: block;
  width: 5px;
  height: 5px;
  margin-bottom: 2px;
  background: #ebeef1;
  border-radius: 5px;
}


/*
When creating your CSS selector,
change "brown" to something of your choosing
*/
.waves-effect.waves-cyan .waves-ripple {
  /* The alpha value allows the text and background color
  of the button to still show through. */
  background-color: rgba(0, 188, 212, 0.65);
}

/*
When creating your CSS selector,
change "brown" to something of your choosing
*/
.waves-effect.waves-indigo .waves-ripple {
  /* The alpha value allows the text and background color
  of the button to still show through. */
  background-color: rgba(63, 81, 181, 0.65);
}

/*
When creating your CSS selector,
change "brown" to something of your choosing
*/
.waves-effect.waves-blue .waves-ripple {
  /* The alpha value allows the text and background color
  of the button to still show through. */
  background-color: rgba(33, 150, 243, 0.65);
}


.loading-dialog {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba( 0, 0, 0, .2 ) url('../images/yeoman.png') 50% 50% no-repeat;
}


/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-background: solid 1px rgba(34, 34, 34, 0); 
  background: solid 1px rgba(34, 34, 34, 0)
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: color("light-blue", "darken-1"); 
  -webkit-background: color("light-blue", "darken-1"); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: color("light-blue", "darken-1"); 
}

/* ng-hide Fix. */ 
.no-results .ng-animate { -webkit-animation: none 0s; }
.ng-hide-add {
  transition: 0s linear all;
}
.ng-hide {
  display: none !important;
}
/* End of fix. */ 

/* app css stylesheet */
.paralax-container-main {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,9);
  z-index: -1;
  background-size: cover;
  background-position: center;
  position: relative;
  background-image: url('../images/banner.jpg');
}
.brand-logo {
  max-height: 100%;
}
#logo-container {
 padding-top:4px; 
}
.demo-twitter-box {
  max-height: 200px;
  overflow: auto;
}